<div class="grid">
  <div class="col-span-full lg:col-span-6">
    <div class="card">
      <div class="font-semibold text-xl mb-4">{{'button.upload' | translate}}</div>
      <p-fileupload name="demo[]" (onUpload)="onUpload($event)" (onSelect)="onSelect($event)"
                    (onRemove)="onRemove($event)" [multiple]="multiple" [maxFileSize]="maxFileSize" [accept]="accept"
                    mode="advanced" url="https://www.primefaces.org/cdn/api/upload.php"
                    [chooseButtonProps]="{'severity': 'secondary'}">
        <ng-template #empty>
          <div>{{'label.document.dragDropMessage' | translate}}</div>
        </ng-template>
        <ng-template #content>
          @if (uploadedFiles.length) {
          <ul>
            @for (file of uploadedFiles; track $index) {
            <li>{{ file.name }} - {{ file.size }} bytes</li>
            }
          </ul>
          }
        </ng-template>
      </p-fileupload>
    </div>
  </div>
</div>
