<div class="flex flex-col gap-6">
  <p-panel class="office-detail-panel bg-white border border-gray-200 rounded-lg shadow-lg overflow-hidden">
    <ng-template pTemplate="header">
      <div class="flex flex-wrap items-center justify-between gap-4 w-full">
        <div class="flex items-center gap-2">
          <i class="pi pi-file text-midnight-500"></i>
          <span class="text-2xl font-semibold">{{ 'title.doc' | translate }}</span>
        </div>
        @if (canUploadDocuments()) {
          <p-button
            icon="pi pi-google"
            rounded
            styleClass="p-button-text"
            [label]="'button.uploadDocument' | translate"
            (onClick)="openGoogleDriveDialog()"
            severity="primary" />
        }
      </div>
    </ng-template>
    <div class="info-callout mb-6">
      <i class="pi pi-info-circle"></i>
      <div [innerHTML]="'office.documents.infoCallout' | translate"></div>
    </div>
    <app-document
      #appDocument
      [entityId]="entityId()"
      [entityName]="'office'"
      [acceptedFormat]="'.pdf, .xls, .xlsx, .doc, .docx'"
      [showUploadButton]="false"
      [disabled]="!canUploadDocuments()">
      <div ngProjectAs="document-toolbar">
        @if (canUploadDocuments()) {
          <app-document-gdrive
            #gdriveComponent
            [entityId]="entityId()"
            [entityName]="'office'"
            [appDocumentRef]="appDocument"
            [showUploadButton]="false"
            [acceptedMIMETypes]="acceptedMimeTypes"></app-document-gdrive>
        }
      </div>
    </app-document>
  </p-panel>
</div>
