.base-engagement-view {
  .field-item {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  .field-item label {
    font-size: 0.75rem;
  }

  .field-item p {
    color: var(--color-gray-900);
  }
}
