<div class="partner-tree-item-footer">
  @if (canDelete()) {
    @if (record?.status === 'Active' && record?.id !== null) {
      <p-button
        icon="pi pi-trash"
        [outlined]="true"
        severity="warn"
        [label]="'button.inactive' | translate"
        (onClick)="onDelete()"
      />
    }
    @if (record?.status === 'Inactive' && record?.id !== null) {
      <p-button
        icon="pi pi-trash"
        [outlined]="true"
        severity="warn"
        [label]="'button.active' | translate"
        (onClick)="onActivate()"
      />
    }
  }
  <div class="grow"></div>
  <p-button
    icon="pi pi-times"
    [label]="'button.cancel' | translate"
    (onClick)="onCancel()"
    severity="secondary"
  />
  @if (canSave()) {
    <p-button
      icon="pi pi-check"
      severity="success"
      [label]="'button.save' | translate"
      (onClick)="onSave()"
      [disabled]="isFormInvalid()"
    />
  }
</div>
