<div class="container-fluid main-container">
  <div class="login-container">
    <!-- Show loading indicator while checking authentication status -->
    @if (checkingAuthentication) {
      <div class="mb-4 text-center">
        <h2 class="mb-2 font-sans text-xl font-semibold">Checking authentication...</h2>
        <div class="login-spinner" aria-hidden="true"></div>
      </div>
    } 
    <!-- Show IAP authentication status if authenticated -->
    @else if (isIapAuthenticated) {
      <div class="mb-4">
        <h2 class="text-center mb-2 font-sans text-xl font-semibold">You are authenticated with IAP</h2>
        <p class="text-center text-gray-500">Redirecting to home page...</p>
        <app-iap-status></app-iap-status>
      </div>
    } 
    <!-- Show login form if not authenticated with IAP -->
    @else {
      <div class="card flex flex-col gap-4">
        <div class="flex flex-col items-center justify-center">
          <div class="col-span-12 mt-12 text-center">
            <img src="assets/images/Circle.png" class="gap-4 flex flex-col items-center brand-logo" alt="Brand Logo" />
            <span class="gap-4 flex flex-col items-center font-semibold text-xl">Opportunity+</span>
          </div>
        </div>

        @if (canShowPrimitiveLoginOption) {
        <div class="row username-password-container">
          <form (ngSubmit)="handleOnLogin(loginForm)" #loginForm="ngForm">
            <div class="flex flex-col gap-[calc(8px+4px)] w-full">
              <div class="p-float-label w-full">
                <input pInputText id="userEmail" type="text" name="userEmail" ngModel #userEmail="ngModel"
                  class="w-full" />
                <label for="userEmail">Email</label>
              </div>

              <div class="p-float-label w-full">
                <p-password [toggleMask]="true" [feedback]="false" name="password" ngModel #password="ngModel"
                  [style]="{ width: '100%' }" [inputStyle]="{ width: '100%' }"></p-password>
                <label for="password">Password</label>
              </div>

              <div class="text-center">
                <p-button type="submit" label="Sign In" [raised]="true"></p-button>
              </div>
            </div>
          </form>
        </div>
        }

        @if (canShowOAuthLoginComponent) {
        <div class="mt-4 mb-2">
          <app-social-auth></app-social-auth>
        </div>
        }

        @if (canDoSignUp) {
        <div class="mt-12 mb-2 text-center">
          Not a member?
          <p-button label="Sign Up" styleClass="w-auto" (click)="onOpenSignUpDialog()" />
          <app-sign-up *ngIf="displaySignUpDialog" (closeSignUp)="onCloseSignUp()"></app-sign-up>
        </div>
        }
      </div>
    }
  </div>
</div>