<div class="w-full rounded-md bg-white p-4 shadow-sm">
  <div class="flex justify-between items-center mb-2">
    <div class="flex items-center gap-2">
      <p-button
        icon="pi pi-arrow-left"
        text rounded
        (onClick)="switchToSimpleSearch()"
        [pTooltip]="'search.backToSimple' | translate"
        tooltipStyleClass="unops-tooltip-nowrap"
      ></p-button>
      <div [class]="advancedSearchClasses?.title || 'text-sm font-semibold hidden lg:block'">{{ 'search.advanced' | translate }}</div>
    </div>
    <div class="flex items-center gap-2">
      @if (entityType) {
        <app-advanced-search-saved-filter
        class="ml-auto"
        [entityType]="entityType"
        [searchCriteria]="filters"
        [isLoading]="isLoading"
        [orderBy]="orderBy"
        [ascending]="ascending"
        [preselectedFilterId]="preselectedSavedFilterId"
        (filterApplied)="onSavedFilterApplied($event)"
        (filterSaved)="onSavedFilterSaved($event)"
        (filterUpdated)="onSavedFilterUpdated($event)"
        (filterDeleted)="onSavedFilterDeleted($event)"
        (applyCriteria)="onApplyCriteria($event)"
        #savedFilterRef
      ></app-advanced-search-saved-filter>
    }
    </div>
  </div>

  <div class="w-full flex flex-col gap-6">

    <!-- My Office Filter Checkbox -->
    @if (isMyOfficeFilterAvailable()) {
      <div class="flex items-center gap-2 p-2 bg-blue-50 rounded border border-blue-200">
        <p-checkbox
          [(ngModel)]="myOfficeOnly"
          [binary]="true"
          (onChange)="onMyOfficeFilterChange()"
          inputId="myOfficeFilter"
        ></p-checkbox>
        <label for="myOfficeFilter" class="text-sm font-medium text-blue-700 cursor-pointer">
          {{ 'search.myOfficeOnly' | translate }}
        </label>
        <i
          class="pi pi-info-circle text-blue-500 text-xs"
          [pTooltip]="'search.myOfficeTooltip' | translate"
          tooltipStyleClass="unops-tooltip-nowrap"
        ></i>
      </div>
    }

    <!-- Search chips display -->
    <div class="flex flex-wrap items-center">
      @for (criterion of filters; track criterion.field; let i = $index) {
        @if (i > 0) {
          <span class="flex items-center px-8 text-gray-600">{{ criterion.logicalOperator || 'AND' }}</span>
        }
        <p-chip styleClass="w-64">
          <div class="flex items-center gap-2 px-8">
            <span class="font-semibold">{{ criterion.label | translate}}</span>
            <span class="text-blue-600 font-medium">{{ getOperatorLabel(criterion.operator) | translate }}</span>
            @if (isDateValue(criterion.value)) {
              <span>{{ criterion.value | date:'dd/MM/yyyy' }}</span>
            } @else {
              <span>{{ criterion.value }}</span>
            }
            @if (criterion.secondValue) {
              <span class="text-gray-500">{{ 'search.and' | translate }}</span>
              @if (isDateValue(criterion.secondValue)) {
                <span>{{ criterion.secondValue | date:'dd/MM/yyyy' }}</span>
              } @else {
                <span>{{ criterion.secondValue }}</span>
              }
            }
            <span class="p-chip-remove-icon pi pi-times-circle" (click)="removeSearchCriterion(i)"></span>
          </div>
        </p-chip>
      } @empty {
        <div class="flex items-center h-10">
          <span class="text-gray-600 p-2">{{ 'search.noFilters' | translate }}</span>
        </div>
      }
      @if (filters.length > 0) {
        <p-button
          icon="pi pi-times"
          class="ml-auto"
          text
          rounded
          (onClick)="onClearSearch()"
          [disabled]="isLoading"
          [pTooltip]="'search.clearAllFilters' | translate"
          tooltipStyleClass="unops-tooltip-nowrap"
        ></p-button>
      }
    </div>

    <!-- Search input and field dropdown -->
    <div class="flex gap-2 flex-wrap items-center w-full">
      @if (filters.length > 0) {
        <p-select
          [options]="logicalOperators"
          [(ngModel)]="selectedLogicalOperator"
          optionLabel="label"
          optionValue="value"
          [placeholder]="'search.logic' | translate"
          styleClass="w-28"
        >
          <ng-template pTemplate="selectedItem" let-selectedOption>
            {{ selectedOption.label | translate }}
          </ng-template>
          <ng-template pTemplate="item" let-option>
            {{ option.label | translate }}
          </ng-template>
        </p-select>
      }
      <p-select
        [options]="searchableFields()"
        [(ngModel)]="selectedSearchField"
        optionLabel="label"
        [placeholder]="'search.selectField' | translate"
        (onChange)="onSearchFieldSelect($event.value)"
        styleClass="w-64"
      >
        <ng-template pTemplate="item" let-option>
          {{ option.label | translate }}
        </ng-template>
        <ng-template pTemplate="selectedItem" let-option>
          {{ option.label | translate }}
        </ng-template>
      </p-select>

      <p-select
        [options]="getComparisonOperators()"
        [(ngModel)]="selectedComparisonOperator"
        optionLabel="label"
        optionValue="value"
        [placeholder]="'entityCards.operator' | translate"
        styleClass="w-48"
      >
        <ng-template pTemplate="selectedItem" let-selectedOption>
          {{ selectedOption.label | translate }}
        </ng-template>
        <ng-template pTemplate="item" let-option>
          {{ option.label | translate }}
        </ng-template>
      </p-select>

      <!-- Date input for date fields -->
      @if (isDateField()) {
        <p-datepicker
          [(ngModel)]="selectedDate"
          [placeholder]="'entityCards.selectDate' | translate"
          dateFormat="dd/mm/yy"
          [showIcon]="true"
          styleClass="w-48 z-10"
        ></p-datepicker>

        <!-- Second date for "between" operator -->
        @if (isBetweenOperator()) {
          <span class="text-gray-600 px-2">{{ 'entityCards.and' | translate }}</span>
          <p-datepicker
            [(ngModel)]="selectedSecondDate"
            [placeholder]="'entityCards.selectEndDate' | translate"
            dateFormat="dd/mm/yy"
            [showIcon]="true"
            styleClass="w-48"
          ></p-datepicker>
        }
      } @else if (isUserField()) {
        <!-- Searchable user dropdown -->
        <p-select
          id="userSearch"
          [(ngModel)]="selectedUser"
          [options]="availableUsers()"
          optionLabel="name"
          [filter]="true"
          [filterMatchMode]="'contains'"
          [showClear]="true"
          [placeholder]="'search.selectUser' | translate"
          [loading]="isSearchingUsers()"
          (onFilter)="onUserSearch($event)"
          [resetFilterOnHide]="true"
          [lazy]="true"
          [virtualScroll]="true"
          [virtualScrollItemSize]="32"
          [appendTo]="'body'"
          styleClass="w-64"
        >
          <ng-template let-user #item>
            <div class="flex items-center gap-2">
              <span class="font-medium">{{ user.name }}</span>
              @if (user.email !== user.name) {
                <span class="text-sm text-gray-500">({{ user.email }})</span>
              }
            </div>
          </ng-template>
        </p-select>
      } @else if (isPartnerField()) {
        <!-- Searchable partner dropdown -->
        <p-select
          id="partnerSearch"
          [(ngModel)]="selectedPartner"
          [options]="availablePartners()"
          optionLabel="name"
          [filter]="true"
          [filterMatchMode]="'contains'"
          [showClear]="true"
          [placeholder]="'search.selectPartner' | translate"
          [loading]="isSearchingPartners()"
          (onFilter)="onPartnerSearch($event)"
          [resetFilterOnHide]="true"
          [lazy]="true"
          [virtualScroll]="true"
          [virtualScrollItemSize]="32"
          [appendTo]="'body'"
          styleClass="w-64"
        >
          <ng-template let-partner #item>
            <div class="flex flex-col">
              <span class="font-medium">{{ partner.name }}</span>
              @if (partner.partnerShortDescription) {
                <span class="text-sm text-gray-500">{{ partner.partnerShortDescription }}</span>
              }
            </div>
          </ng-template>
        </p-select>
      } @else if (isDropdownField()) {
        <!-- Dropdown for enum fields -->
        <p-select
          [options]="getDropdownOptions()"
          [(ngModel)]="selectedEnumValue"
          optionLabel="label"
          optionValue="value"
          [placeholder]="'entityCards.selectValue' | translate"
          styleClass="w-48"
        >
          <ng-template pTemplate="selectedItem" let-selectedOption>
            {{ selectedOption.label | translate }}
          </ng-template>
          <ng-template pTemplate="item" let-option>
            {{ option.label | translate }}
          </ng-template>
        </p-select>
      } @else {
        <!-- Text input for non-date, non-enum fields -->
        <p-iconfield iconPosition="left" class="grow">
          <input pInputText type="text"
          [placeholder]="'search.placeholder' | translate"
          [(ngModel)]="advancedSearchText"
          (keyup.enter)="onAdvancedSearchEnter()"
          class="w-full"
          />
          @if (advancedSearchText && advancedSearchText.length > 0) {
            <p-inputicon class="pi pi-times cursor-pointer" (click)="onClearSearchText()" />
          }
        </p-iconfield>
      }

      <p-button
        icon="pi pi-plus"
        class="ml-auto"
        [label]="'entityCards.addFilter' | translate"
        (onClick)="addSearchCriterion()"
        [disabled]="!canAddCriterion()"
        [pTooltip]="'entityCards.addFilter' | translate"
        tooltipStyleClass="unops-tooltip-nowrap"
      ></p-button>
    </div>
  </div>
</div>
