.layout-breadcrumb {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    min-width: 0;
    overflow: hidden;

    @media screen and (min-width: 768px) {
        gap: 1rem;
    }

    ol {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style: none;
        gap: 0.5rem;

        li {
            white-space: nowrap;
            line-height: 1.5;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 10rem;

            @media screen and (min-width: 768px) {
                max-width: none;
            }
        }
    }
}

.content-breadcrumb {
    margin-bottom: 2rem;
    padding: 0 .5rem;
}