.layout-breadcrumb {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    min-width: 0;
    overflow: hidden;

    @media screen and (min-width: 768px) {
        gap: 1rem;
    }

    ol {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style: none;
        gap: 0.5rem;

        li {
            white-space: nowrap;
            line-height: 1.5;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 10rem;

            @media screen and (min-width: 768px) {
                max-width: none;
            }

            a {
                color: var(--p-text-color);
                position: relative;
                text-decoration: none;
                z-index: 0;
                cursor: pointer;

                &::before {
                    background: var(--p-primary-200);
                    content: '';
                    inset: 0;
                    position: absolute;
                    transform: scaleX(0);
                    transform-origin: right;
                    transition: transform 0.3s ease-in-out;
                    z-index: -1;

                    .app-dark & {
                        background: var(--p-primary-800);
                    }
                }

                &:hover::before {
                    transform: scaleX(1);
                    transform-origin: left;
                }

                @media (prefers-reduced-motion: reduce) {
                    &::before {
                        transition: none;
                    }
                }
            }
        }
    }
}

.content-breadcrumb {
    margin-bottom: 2rem;
    padding: 0 .5rem;
}