@use '_sass_variables' as *;

.layout-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    transition: all 0.2s ease;

    > app-configurator,
    > [app-search],
    > [app-rightmenu] {
        flex: none;
        width: 0;
        overflow: visible;
    }

}

.layout-body {
    flex: 1;
    min-height: 0;
    display: flex;
    position: relative;
    overflow: hidden;
}

.layout-content-wrapper {
    flex: 1;
    min-width: 0;
    min-height: 0;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 9;
    transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}
.layout-content-wrapper-inside {
    width: 100%;
    max-width: 1540px;
    margin-inline: auto;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    
}
.layout-content {
    padding: 1rem;
    flex: 1 1 auto;
    position: relative;

    @media screen and (min-width: 576px) {
        padding: 1.5rem;
    }

    @media screen and (min-width: 992px) {
        padding: 2rem;
    }
}
