.base64-file-upload {
  width: 100%;
}

.selected-file-card {
  transition: all 0.15s cubic-bezier(0.2, 0, 0, 1);

  &:hover {
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  }
}
