<div class="flex flex-col gap-8">
  <div class="flex flex-col xl:flex-row gap-8">
    <div class="xl:w-1/2 flex flex-col gap-8">
      <p-panel styleClass="shadow-sm border border-gray-200 rounded-lg overflow-hidden">
        <ng-template pTemplate="header">
          <span class="text-xl font-semibold">{{ 'title.partnerFundingOpportunities' | translate }}</span>
        </ng-template>
      </p-panel>

      <p-panel styleClass="shadow-sm border border-gray-200 rounded-lg overflow-hidden">
        <ng-template pTemplate="header">
          <span class="text-xl font-semibold">{{ 'title.partnershipAgreementsTemplates' | translate }}</span>
        </ng-template>
      </p-panel>
    </div>
  </div>
</div>
