.header-section {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.icon {
  color: var(--color-red-500);
  font-size: 2rem;
  height: 2rem;
  width: 2rem;
}

.header {
  font-size: 1.25rem;
  font-weight: 500;
  margin-left: 0.25rem;
}

.details-section {
  border: 1px solid color-mix(in srgb, var(--color-gray-500) 30%, transparent);
  margin-top: 0.5rem;
  padding: 0.25rem 0.5rem;
  background: color-mix(in srgb, var(--color-gray-300) 25%, transparent);
}
