<div class="flex flex-col gap-8">
  <div class="flex flex-col items-center">
    <div class="w-full flex justify-between items-center">
      <div class="font-semibold text-gray-400">
        {{ 'title.partner' | translate }}
      </div>
      <app-go-back class="back-button"></app-go-back>
    </div>

    <div class="flex gap-2 md:gap-4 w-full items-center">
      <app-picture
        [imageUrl]="recordData.logoUrl || ''"
        [uploadUrl]="getUploadLogoUrl()"
        [altText]="'partner.tabs.logoAltText' | translate"
        [size]="isMobile() ? 'extra-small' : 'small'"
        [entityType]="'Partner'"
        [disabled]="!recordData.permissions?.canUpdate"
        (imageChanged)="_loadRecordDetails()"
      />
      <div class="flex flex-col min-w-0">
        <div class="text-2xl md:text-4xl font-bold text-gray-950 truncate">
          {{ recordData.name }}
        </div>
      </div>
    </div>
  </div>

  <app-responsive-tabs
    [tabs]="tabs"
    [dropdownPlaceholder]="'partner.tabs.selectTabPlaceholder' | translate"
    class="partner-tabs-navigation">
  </app-responsive-tabs>

  <div>
    <router-outlet></router-outlet>
  </div>
</div>
