<div class="lookerstudio-container relative" [style.min-height]="minHeight">
  @if(isLoading) {
    <div class="absolute inset-0 bg-white bg-opacity-70 flex justify-center items-center z-20">
      <div class="animate-spin rounded-full h-12 w-12 border-t-2 border-b-2 border-solid border-blue-500 z-30"></div>
    </div>
  }
  <!-- Responsive iframe container -->
  <div class="responsive-iframe-container relative w-full overflow-hidden rounded-lg border border-solid border-gray-200">
    <iframe
      [src]="url"
      frameborder="0"
      allowfullscreen
      class="absolute top-0 left-0 w-full h-full">
    </iframe>
  </div>
</div>
