:host {
  display: block;
}

.table-container {
  min-height: 100px;
}

.no-data {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  color: var(--color-gray-600);
}
