@use '../_sass_variables' as *;

.layout-sidebar {
   
    background: var(--p-surface-900);
    height: 100%;
    z-index: 10;
    .sidebar-header {
        .layout-sidebar-anchor {
            display: none;
            cursor: pointer;
        }
    }
    .app-name {
        color: var(--d-app-name-color);
    }

    .layout-menu {
        .menu-separator {
            height: 1px;
            width: 100%;
            background: transparent;
        }

        li {
            &.active-menuitem {
                > a {
                    color: var(--d-menuitem-active-text-color);
                    background-color: var(--d-menuitem-active-bg);
                    border: var(--d-menuitem-active-border, 0.5px solid transparent);
                }
            }

            a {
                color: var(--d-menuitem-text-color);

                &.active-route {
                    background: var(--d-menuitem-active-bg);
                    color: var(--d-menuitem-active-route-text-color);

                    .layout-menuitem-text {
                        color: inherit;
                    }
                }

                &:hover {
                    background: var(--d-menuitem-hover-bg);
                }
            }
        }

        .layout-root-menuitem {
            .layout-menuitem-root-text {
                color: var(--d-menuitem-root-text-color);
            }

            > ul {
                z-index: 1000;
                > li.active-menuitem {
                    background: var(--d-menuitem-active-bg);
                    border-radius: 1rem;
                }
            }
        }
    }
}
@media screen and (min-width: $breakpoint) {
    .layout-horizontal {
        .layout-topbar {
            background: transparent;
            color: var(--text-color);

            .topbar-separator {
                border-left: 1px solid var(--surface-border);
            }

            .topbar-menu {
                > li {
                    &.right-sidebar-item {
                        > a {
                            background: transparent;
                            color: var(--text-color);

                            &:hover {
                                background: var(--surface-hover);
                            }

                            &:focus {
                                box-shadow: var(--focus-ring-shadow);
                            }
                        }
                    }

                    > a {
                        color: var(--text-color);

                        &:hover {
                            background: var(--surface-hover);
                        }

                        &:focus {
                            box-shadow: var(--focus-ring-shadow);
                        }

                        .topbar-badge {
                            background: var(--primary-color);
                            color: var(--primary-contrast-color);
                        }
                    }
                }
            }
        }

        .layout-sidebar {
            background: transparent;
            background-image: none;

            .layout-menu {
                .layout-root-menuitem {
                    > a {
                        color: var(--text-color);

                        &:hover {
                            background: var(--surface-hover);
                        }
                    }

                    > ul {
                        background: var(--popover-background);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: ($breakpoint - 1)) {
    .layout-sidebar {
        .layout-menu {
            .layout-root-menuitem {
                &.active-menuitem {
                    background: transparent;
                }
            }
        }
    }
}
