body {
	margin: 0;
}

:root {
	--preload-bg-from: #cce5ff;
	--preload-bg-to: #ffecfe;
	--preload-fg-from: #bcd6ff;
	--preload-fg-to: #f6d8ff;
	--preload-icon: #0d1e2f;
}

:root.app-dark {
	--preload-bg-from: #0d1e2f;
	--preload-bg-to: #001c83;
	--preload-fg-from: #00153d;
	--preload-fg-to: #003b7f;
	--preload-icon: white;
}

.loader-container {
	display: flex;
	width: 100%;
	height: 100%;
	overflow: hidden;
	min-height: 100vh;
	position: relative;
	isolation: isolate;
	animation: preload-bg-move 3s ease-in-out infinite;
	will-change: background-color;
}

.loader-container svg {
	position: absolute;
	inset: 0;
	z-index: 0;
	height: 100%;
	width: 100%;
	pointer-events: none;
}

.preload-fg {
	will-change: fill;
	animation: preload-fg-move 6s ease-in-out infinite;
}

.preload-fg--1 {
	animation-delay: 0s;
}

.preload-fg--2 {
	animation-delay: 2s;
}

.preload-fg--3 {
	animation-delay: 4s;
}

@keyframes preload-bg-move {
	0%,
	100% {
		background-color: var(--preload-bg-from);
	}
	50% {
		background-color: var(--preload-bg-to);
	}
}

@keyframes preload-fg-move {
	0%,
	100% {
		fill: var(--preload-fg-from);
	}
	50% {
		fill: var(--preload-fg-to);
	}
}

.loader {
	width: 70px;
	height: 30px;
	overflow: hidden;
	position: relative;
	margin: auto;
	z-index: 1;
}

.loader:before {
	content: "";
	position: absolute;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	inset: 0;
	margin: auto;
	background: var(--preload-icon);
	transform-origin: bottom;
	animation: l10-1 3s infinite;
}

.loader:after {
	content: "";
	position: absolute;
	width: 8px;
	height: 14px;
	bottom: calc(50% - 4px);
	background: var(--preload-icon);
	animation: l10-2 3s infinite;
}

@keyframes l10-1 {
	0%,
	10% {
		transform: translate(0) scale(1);
		box-shadow: 60px 0, 60px 0;
	}
	20%,
	40% {
		transform: translate(20px) scale(1);
		box-shadow: 60px 0, 60px 0;
	}
	48% {
		transform: translate(20px) scale(1);
		box-shadow: 8px 0, 60px 0;
	}
	50% {
		transform: translate(20px) scale(1.5);
		box-shadow: 0 0, 60px 0;
	}
	58% {
		transform: translate(20px) scale(1.5);
		box-shadow: 0 0, 8px 0;
	}
	60%,
	70% {
		transform: translate(20px) scale(2);
		box-shadow: 0 0, 0 0;
	}
	85% {
		transform: translate(-50px) scale(2);
		box-shadow: 0 0, 0 0;
	}
	87% {
		transform: translate(-50px) scale(1);
		box-shadow: 0 0, 0 0;
	}
	100% {
		transform: translate(0) scale(1);
		box-shadow: 0 0, 0 0;
	}
}

@keyframes l10-2 {
	20%,
	70% {
		left: 50%;
	}
	0%,
	10%,
	85%,
	100% {
		left: -25px;
	}
}

@media (prefers-reduced-motion: reduce) {
	.loader-container {
		animation: none;
		background-color: var(--preload-bg-from);
	}

	.preload-fg {
		animation: none;
		fill: var(--preload-fg-from);
	}

	.loader,
	.loader:before,
	.loader:after {
		animation: none;
	}
}
