.card {
    padding: 1.5rem;
    border: 1px solid var(--surface-border);
    margin-bottom: 0;
    border-radius: 1rem;
}

.layout-card-filled .card{
    background: var(--surface-card);
}

.layout-card-transparent .card{
    background: transparent;
}
