.layout-footer {
    height: 4rem;
    padding: 2rem 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    .footer-copyright {
        font-size: var(--font-size-sm);
        color: var(--text-muted-color);
    }
}
