.layout-sidebar-primary {
    --d-sidebar-bg-color: var(--color-deepsea-500);
    --d-sidebar-bg-color-alt: var(--color-deepsea-600);
    --d-sidebar-border: 1px solid var(--surface-border);
    --d-app-name-color: var(--p-surface-800);
    --d-menu-separator-border: 1px solid var(--surface-border);
    --d-menuitem-root-text-color: var(--p-surface-500);
    --d-menuitem-text-color: var(--p-surface-700);
    --d-menuitem-hover-bg: rgba(106, 208, 252, 0.5);
    --d-menuitem-active-bg: rgba(106, 208, 252, 0.5);
    --d-menuitem-active-text-color: var(--p-surface-900);
    --d-menuitem-active-route-text-color: var(--p-surface-900);
    --d-menuitem-focus-shadow: 0 0 0 0.2rem var(--p-primary-100);
    --d-sidebar-border: 1px solid transparent;
}

:root[class*='app-dark'] .layout-sidebar-primary {
    --d-sidebar-bg-color: var(--color-blue-500);
    --d-sidebar-bg-color-alt: var(--color-blue-600);
    --d-sidebar-border: 1px solid transparent;
    --d-app-name-color: var(--p-surface-0);
    --d-menu-separator-border: 1px solid rgba(255, 255, 255, 0.15);
    --d-menuitem-root-text-color: var(--p-surface-0);
    --d-menuitem-text-color: var(--p-surface-50);
    --d-menuitem-hover-bg: rgba(14, 114, 157, 0.5);
    --d-menuitem-active-bg: rgba(14, 114, 157, 0.5);
    --d-menuitem-active-text-color: var(--p-surface-0);
    --d-menuitem-active-route-text-color: var(--p-surface-0);
    --d-menuitem-focus-shadow: 0 0 0 0.2rem rgba(1, 26, 46, 0.45);
}

@media screen and (min-width: 992px) {
    :root .layout-sidebar-primary .layout-sidebar,
    :root .layout-sidebar-dark .layout-sidebar,
    :root .layout-sidebar-light .layout-sidebar {
        background: transparent;
    }
}
