:host {
  display: block;
}

video {
  display: block;
}

button:focus {
  outline: 2px solid var(--color-blue-500);
  outline-offset: 2px;
}

button,
input {
  transition: all 0.2s cubic-bezier(0.2, 0.0, 0, 1.0);
}

.camera-container {
  aspect-ratio: 4/3;

  @media (max-width: 768px) {
    aspect-ratio: unset;
  }
}

.overflow-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
