@use '_sass_variables' as *;

html {
    height: 100%;
    font-size: 16px;
    line-height: 1.5;
}

body {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    color: var(--text-color);
    background-color: var(--surface-ground);
    padding: 0;
    margin: 0;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: $breakpoint) {
    :root:not(.app-dark) body {
        background: linear-gradient(355deg, var(--p-primary-100) 5%, var(--p-surface-100) 50%, var(--p-surface-50) 80%);
    }

    .app-dark body {
        background: linear-gradient(355deg, var(--p-primary-800) 5%, var(--p-surface-900) 60%, var(--p-surface-950) 86%);
    }
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}
